<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:web="http://www.springframework.org/schema/web"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	http://www.springframework.org/schema/web http://www.springframework.org/schema/web/spring-web-4.3.xsd">
	<description>Spring root configuration</description>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:cas.properties</value>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

	<!-- 注解驱动 -->
	<context:annotation-config />
	<!-- 配置事物 -->
	<!-- 扫描事务注解 -->
	<context:component-scan base-package="org.demo.*.service.impl" />

	<!-- 事务驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" />
			<tx:method name="put*" />
			<tx:method name="add*" />
			<tx:method name="insert*" />
			<tx:method name="create*" />
			<tx:method name="update*" />
			<tx:method name="del*" />
			<tx:method name="remove*" />
		</tx:attributes>
	</tx:advice>

	<!-- AOP -->
	<aop:config>
		<aop:pointcut expression="execution(* org.demo.*.service.impl.*.*(..))" id="myPointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut" />
	</aop:config>


	<import resource="spring-mvc.xml" />
	<import resource="spring-mybatis.xml" />
	<import resource="spring-redis.xml" />
	<import resource="spring-shiro-cas.xml" />

</beans>
